/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url("img/pngtree-jewelry-diamond-rings-and-earrings-in-box-image_15656970.jpg") no-repeat center center fixed;
    background-size: cover;
    position: relative;
  }
  
  /* Header Styles */
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .form-title {
    display: flex;
    justify-content: center; /* Căn giữa nội dung trong .form-title */
    align-items: center;
    padding: 20px;
    font-size: 35px;
    position: relative;
    margin: 0px;
}

#title {
    list-style-type: none; /* Bỏ dấu chấm đầu dòng */
    padding: 0; /* Bỏ padding mặc định */
    margin: 0; /* Bỏ margin mặc định */
    display: flex; /* Sử dụng Flexbox cho ul */
    gap: 20px; /* Khoảng cách giữa các mục */
    justify-content: center; /* Căn giữa nội dung trong .form-title */
    align-items: center;

}

#title li {
    display: inline; /* Hiển thị các mục dưới dạng inline */
}

.Login-btn {
    color: white; 
    background-color: #333; 
    border: none;
    padding: 10px 20px; 
    cursor: pointer; 
    display: block; 
    margin: 8px 0; 

    border: 2px solid #ccc; 
    border-radius: 8px;
    overflow: hidden; 

    text-align: right; 
}

#btn-login {
    color: #ffffff; /* Màu chữ mặc định */
    font-size: 19px; /* Kích thước chữ */
    text-decoration: none; /* Bỏ gạch chân */
    transition: color 0.3s ease, background-color 0.3s ease; /* Tạo hiệu ứng chuyển tiếp */
    padding: 5px; /* Thêm padding để tạo không gian cho hiệu ứng */
}

#btn-login:hover {
    color: #000000; /* Đổi màu chữ thành đen khi hover */
    background-color: rgba(255, 255, 255, 0.5); /* Màu nền mờ trắng khi hover */
    border-radius: 4px; /* Bo góc cho nền */
}

.form-title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: -1;
}

/* Navigation Menu */
.form-title ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.form-title li {
    margin-right: 50px;
    position: relative;
    transition: transform 0.3s ease, color 0.3s ease;
}

.form-title a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.form-title li:hover {
    transform: translateY(-5px);
    color: white;
}

.form-title li:hover a {
    color: white;
}
  
  /* .search-input {
    padding: 10px 50px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
   */

  /* Categories Styles */
  .h1 {
    text-align: center;
    margin-top: 40px;
  }
  
  .btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    margin: 20px auto;

    border: 2px solid #ccc; 
    border-radius: 8px; 
    overflow: hidden; 
  }
  
  .form-categories {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .form-categories .item {
    text-align: center;

    border: 2px solid #ccc; 
    border-radius: 8px; 
    overflow: hidden; 
  }
  
  .form-categories img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  
  .categories{
    position: relative;
    max-width: 1800px;
    max-height: 780px;

    display: grid;
    grid-gap: 20px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;

    border: 2px solid #ccc; 
    border-radius: 8px; 
    overflow: hidden; 
  }

  .categories::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: -1;
  }
  /* Products Styles */
  .form-product {
    margin-top: 40px;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
  }

  .product{
    position: relative;
    max-width: 1800px;
    max-height: 780px;

    display: grid;
    grid-gap: 20px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;

    border: 2px solid #ccc; 
    border-radius: 8px; 
    overflow: hidden; 
  }


  .product::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: -1;
  }
  
  .product-item {
    text-align: center;

    border: 2px solid #ccc; 
    border-radius: 8px; 
    overflow: hidden; 
  }
  

  .product-image img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }


  .form-categories .item:hover,
  .product-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    background-color: #f0f0f0;
  }
  
  .form-categories .item img,
  .product-item img {
    transition: transform 0.3s ease;
  }
  
  .form-categories .item:hover img,
  .product-item:hover img {
    transform: scale(1.1);
  }


  .footer-menu {
    display: flex; /* Sử dụng Flexbox để căn chỉnh */
    justify-content: space-between; /* Căn chỉnh không gian giữa giá và nút */
    align-items: center; /* Căn giữa theo chiều dọc */
    margin-top: 10px; /* Khoảng cách giữa tên sản phẩm và footer-menu */
}

.btn-buy {


  color: white; 
  background-color: #333; 
  border: none;
  padding: 10px 20px; 
  cursor: pointer; 
  display: block; 

  border: 2px solid #ccc; 
  border-radius: 8px;
  overflow: hidden; 
  
}

.link-a:-webkit-any-link {
  color: white;
  cursor: pointer;
  text-decoration: underline;
}

.value {
    font-size: 18px; /* Kích thước chữ cho giá */
    margin: 0; /* Bỏ margin để căn chỉnh chính xác */
}

.btn-buy:hover {
    background-color: #555; /* Đổi màu nền khi hover */
    transform: translateY(-3px); /* Nổi lên khi hover */
}



  .post {
    background-color: #333;
    padding: 10px;
    display: flex;
    margin-top: 250px;
    flex-direction: row; 
    align-items: center;
    font-size: 18px;
    line-height: 2em;
    color: #f2f2f2;
    font-family: "Font-1711344296733", sans-serif;
}

.footer-content {
    margin: 40px auto;
    max-width: 50%;
    margin-top: 40px;   
}

.footer-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-block {
    flex: 0 1 23%;
    margin-bottom: 20px;
    text-align: left;
}

.menu {
    list-style-type: none;
    padding: 0;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    color: #f2f2f2;
    text-decoration: none;
    transition: color 0.3s;
}

.menu a:hover {
    color: #ddd;
}

.social-icon {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.icon {
  width: 48px;
  height: 48px;
  background-color: #333;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.icon i {
  color: #f2f2f2;
  font-size: 35px;
  transition: color 0.3s ease;
}

.icon:hover {
  background-color: blue;
}

.icon:hover i {
  color: #ddd;
}

h4.section-footer__title {
  margin-bottom: 10px;          /* Khoảng cách dưới tiêu đề */
}