body {
    background: url("img/pngtree-jewelry-diamond-rings-and-earrings-in-box-image_15656970.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    align-items: center;
    padding: 9px 20px;
    width: 100%;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  }
  
  h3 {
    font-size: 30px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 780px;
    padding: 20px;
  }
  
  .login-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px; /* Đặt chiều rộng tối đa */
    margin: auto; /* Căn giữa */
  }
  
  .login-form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 48px 49px;
    background: rgba(0,0,0,0.5);
    box-shadow: 0 15px 25px rgba(0,0,0,0.7);
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 4px;
    width: 100%; 
  }
  
  .title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    color: #ffffff;
    -webkit-text-stroke: 0.5px #001100;
  }
  
  .description {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 23px;
    line-height: 24px;
    color: #ffffff;
    -webkit-text-stroke: 0.4px #001100;
    margin-top: 60px;
  }
  
  .form-group {
    margin-bottom: 20px;
    position: relative;
  }
  

   .form-input {
    width: calc(100% - 20px); 
    padding: 12px;
    border: 1px solid white; 
    border-radius: 4px; 
    font-size: 20px;
    color: #ffffff;
    background-color: rgba(204, 204, 204, 0); 
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.form-input:focus, 
.form-input:not(:placeholder-shown) {
    border-color: rgba(74, 114, 182, 1); /* Màu viền khi ô được chọn */
    background-color: rgba(255, 255, 255, 0.7); /* Màu nền sáng hơn khi được chọn */
    outline: none; /* Bỏ viền mặc định của trình duyệt */
}

  .btn {
    background-color: #1E90FF;
    color: #ffffff;
    padding: 12px 24px;
    border: none;
    border-radius: 4px; /* Thay đổi để đồng bộ với input */
    cursor: pointer;
    width: 100%;
    font-size: 20px;
  }
  
  .btn:hover {
    background-color: #00ffff;
  }
  
  .register-link {
    margin-top: 20px;
    font-size: 14px;
    color: #ffffff;
  }
  
  .link {
    color: #00ffff;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }

  .form-input::placeholder {
    color: #ffffff; /* Thay đổi màu chữ của placeholder */
    opacity: 0.7; /* Đặt độ mờ nếu cần thiết (0 đến 1) */
}

